{% extends 'generic/object.html' %}
{% load static %}
{% load helpers %}
{% load i18n %}
{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">{% trans "Service provider" %}</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">{% trans "Name" %}</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "slug" %}</th>
              <td>{{ object.slug }}</td>
            </tr>
            <tr>
              <th scope="row">{% trans "Portal url" %}</th>
              <td>
                {% if object.portal_url %}
                    <a href="{{ object.portal_url }}">{{ object.portal_url }}</a>
                {% else %}
                    {{ ''|placeholder }}
                {% endif %}
            </td>
            </tr>
          </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/comments.html' %}
      {% include 'inc/panels/tags.html' %}
    </div>
  </div>
  
  {# Contracts section #}
  <div class="row mb-3">
    <div class="col col-md-12">
      <div class="card">
        <h5 class="card-header">{% trans "Related Contracts" %}</h5>
        <div class="card-body">
          {% if contracts_table %}
            {% include 'inc/table.html' with table=contracts_table %}
          {% else %}
            <div class="text-muted">{% trans "No contracts found" %}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
